<%- include("../../views/partials/user/shoppage_header") %>
<body>
    <link rel="stylesheet" href="\css\profilepage.css">
    <% if (typeof message !== 'undefined' && message) { %>
        <p id="mess" class="error-message" ><%= message %></p>
    <% } %>
    <!-- Account Header -->
    <div class="account-header">
        <div class="container">
            <h1>Account</h1>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container mb-5">
        <div class="row">
            <!-- Settings Sidebar -->
            <div class="col-md-3 mb-4">
                <%- include("../../views/partials/user/sidebar") %>
            </div>
           
            <!-- Content Area -->
            <div class="col-md-9">
                <h2 class="mb-4">MY ADDRESSES</h2>
                
                <div class="address-list">
                    <!-- Address 1 -->
                     <% addresses.forEach(entry=> { %>
                    <% entry.address.forEach(address=> { %>
                    <div class="address-card p-3">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="d-flex">
                                    <div class="me-2">•</div>
                                    <div>
                                        <strong><%= address.name %></strong><br>
                                        <%= address.addressType %>,<%= address.city %>,<%= address.state %>,<%= address.pincode %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end mt-2 mt-md-0">
                                <button class="btn btn-sm edit-btn text-white me-2">Edit</button>
                                <button class="btn btn-sm delete-btn text-white">Delete</button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% }) %>
                  
                    
                        
                    
                </div>
                
                <!-- Divider -->
                <hr class="my-4">
                
                <!-- Add New Address Button -->
                <div>
                    <form method="post" action="/user/addaddress">
                    <button class="btn add-btn">Add Address</button>
                   </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const mess = document.getElementById('mess')
        setTimeout(() => {
            if(mess){
                mess.style.display = 'none'
            }
        }, 3000);


    </script>
</body>
</html>